:root {
  --brand-blue: #153677;
  --brand-gold: #ead377;
  --brand-grey: #d7d5d5;
  --brand-grey-alt: #cecaca;
}

body {
  background-color: var(--brand-grey);
  font-family: "IBM Plex Sans Condensed", sans-serif;
  background-image: repeating-linear-gradient(
    -42.8deg,
    transparent 0,
    transparent 5px,
    var(--brand-grey-alt) 5px,
    var(--brand-grey-alt) 10px
  );
  overflow-x: hidden;
}

.logo-wrap {
  margin-bottom: 1rem;
}

.logo {
  width: 100%;
  max-width: 24rem;
}

.text-wrap {
  padding: 4rem 1.4rem;
  text-align: center;
  background-image: linear-gradient(
    -42.8deg,
    transparent 0,
    transparent 4rem,
    var(--brand-grey) 4rem,
    var(--brand-grey) calc(100% - 4rem),
    transparent calc(100% - 4rem),
    transparent 100%
  );
}

.motto {
  font-weight: 500;
}

.why-wrap {
}

.why {
  font-size: 1.3rem;
  text-align: center;
  max-width: 32em;
  margin-bottom: 4rem;
}

.links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 2.4rem;
}

.links img {
  height: 4rem;
}

@media (width >= 38em) {
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo-wrap {
    margin-bottom: 2rem;
  }

  .text-wrap {
    padding: 4rem;
  }
}
